*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



#header{
    width: 100%;
    padding: 10px 4%;
    align-items: center;
    background-color: #5566dd;
}
#header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#header .logo{
    width: 80px;
    height: auto;
    cursor: pointer;
}
#header nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
#header nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
#header nav ul li a{
    text-decoration: none;
}
#header .btn{
    display: inline-block;
    padding: 4px 8px;
    
    border: 2px solid #000000;
    background-color: #88bbff;
    color: #000000;

    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 150ms ease;
}
#header .btn:hover {
    background-color: #004488;
    color: #ffffff;
}


#signup{
    min-height: 100vh;
    text-align: center;
    background-color: #000000;
    overflow: hidden;
}
#signup .wrapper{
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#signup h1{
    font-size: 3rem;
    font-weight: 900;
}
#signup form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#signup form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
#signup form label{
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background-color: #5566dd;
    color: #ffffff;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
#signup form input{
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid #aabbff;
    border-left: none;
    background-color: #aabbff;
    transition: 150ms ease;
}
#signup form input:hover{
    border: 2px solid #223388
}
#signup form input:focus{
    outline: none;
    border-color: #ffffff;
}
#signup div:has(input:focus) > label{
    background-color: #000000;
}
#signup form input::placeholder{
    color: #000000;
    opacity: .5;
}
#signup form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: #5566dd;
    color: #ffffff;
    font: inherit;
    font-weight: 600;
    cursor: pointer;
    transition: 150ms ease;
}
#signup form button:hover{
    background-color: #000000;
}
#signup form button:focus{
    outline: none;
    background-color: #000000;
}
#signup a{
    text-decoration: none;
    color: #5566dd;
}
#signup a:hover{
    text-decoration: underline;
}
@media(max-width: 1100px){
    .wrapper{
        width: min(600px, 100%);
    }
}
#signup form div.incorrect label{
    background-color: #f06272;
}
#signup form div.incorrect input{
    border-color: #f06272;
}
#signup #error-message
{
    color: #f06272;
}