*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
#header{
    width: 100%;
    padding: 10px 4%;
    align-items: center;
    background-color: #5566dd;
}
#header nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#header .logo{
    width: 80px;
    height: auto;
    cursor: pointer;
}
#header nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
#header nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
#header nav ul li a{
    /*color: #000000;
    font-size: 16px;*/
    text-decoration: none;
}
#header .btn{
    display: inline-block;
    padding: 4px 8px;
    
    border: 2px solid #000000;
    background-color: #88bbff;
    color: #000000;

    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#header .btn:hover {
    background-color: #004488;
    color: #ffffff;
}